:where(.pageContainer p){
    margin-bottom: 1%;
    font-size: 19px;
}

:where(.pageContainer ul){
    list-style-type: disc;
    padding-left: 1.5rem;
}

:where(.pageContainer ol) {
    list-style-type: decimal;
    padding-left: 1.5rem;
}

:where(.pageContainer) {
    font-size: 19px;
}

:where(.pageContainer hr) {
    width: 100%;
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 10px;
}

:where(.pageContainer a) {
    color: #39a7cc;
    cursor: pointer;
}

:where(.pageContainer a:hover) {
    color: #B58E03;
}

:where(.pageContainer h1), :where(.pageContainer h2), :where(.pageContainer h3), :where(.pageContainer h4), :where(.pageContainer h5), :where(.pageContainer h6) {
    margin-bottom: 0.83em;
    font-weight: bold;
}

/* Font sizes for each heading level (common default sizes) */
:where(.pageContainer h1) {
    font-size: 250%; /* Usually 32px */
    margin-bottom: 2%;
    color: #666666;
}

:where(.pageContainer table td), :where(.pageContainer table th){
    vertical-align: top;
}

:where(.pageContainer h2) {
    margin-top: 2%;
    font-size: 180%; /* Usually 24px */
    color:#666666;
    margin-bottom: 1%;
}

:where(.pageContainer h3) {
    font-size: 130%; /* Usually 18.72px */
    color:#666666;
    margin-bottom: 1%;
}

:where(.pageContainer h4) {
    font-size: 1em; /* Usually 16px */
}

:where(.pageContainer h5) {
    font-size: 0.83em; /* Usually 13.28px */
}

:where(.pageContainer h6) {
    font-size: 0.67em; /* Usually 10.72px */
}

/* Line heights (can be adjusted to improve readability) */
:where(.pageContainer h1), :where(.pageContainer h2), :where(.pageContainer h3), :where(.pageContainer h4), :where(.pageContainer h5), :where(.pageContainer h6) {
    line-height: 1.2;
}
